<%- include ../templates/header.ejs %>
<%- include ../templates/navbar_auth.ejs %>
<div class="container" style="text-align: center;">
    <br>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
    </ol>
    <% if(alert.message != '') { %>
    <div class="alert alert-<%= alert.status %>">
      <%= alert.message %>
    </div>
    <% } %>
    <h3>Data Bengkel</h3>
      <div style="text-align: left;">
        <h3>Bengkel milik: <%= bengkelUser.ownerName %></h3>
        <h3>Nama Bengkel: <%= bengkelUser.bengkelName %></h3>
        <h3>Alamat: <%= bengkelUser.address %></h3>
        <h3>Status: <%= bengkelUser.status %></h3>
        <a href="/bengkel/<%= bengkelUser.id %>/edit" class="btn btn-primary">Edit</a>
      </div>
    <br>
    <br>
    </div>
  </div>
  <%- include ../templates/footer.ejs %>